* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/* .desenfoque {
  position: fixed;
  backdrop-filter: blur(8px);
  width: 100vw;
  height: 100vh;
  z-index: 0;
} */
 body::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(3px);
  z-index: -1;
}

.barra-superior {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: radial-gradient(circle, #7f0099, #4d1363);
  padding: 10px 20px;
  color: white;
}

.titulo {
  text-align: center;
}

.navegador {
  color: white;
  background-color: #9502cf;
  border-radius: 10px;
  padding: 10px;
  margin: 0px 15px;
}

.navegador a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  margin: 0 10px;
}

body {
  background-image: url(fondo-japon);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.ac img {
  display: block;
  border-radius: 50%;
  margin: 20px auto;
  width: 400px;
}

.ft {
  background-color: black;
  opacity: 0.5;
}

.ac h2,
.ac p {
  background-color: rgba(0, 0, 0, 0.6);
  padding: 15px;
  border-radius: 10px;
  max-width: 1000px;
  margin: 0 auto;
  color: white;
  text-align: center;
  display: block;
}
