* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}



.barra-superior {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #bd0000;
    padding: 10px 20px;
    color: white;

}
    
.titulo {
    text-align: center;
}

.navegador {
    color: white;
    background-color: #ff002b;
    border-radius: 10px;
    padding: 10px;
    margin: 0px 15px;

}

body {
    background-image: url(fondo.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.ac img {
    display: block;
    border-radius: 50%;
    margin: 20px auto;
    width: 400px;
    
}


.ft {
    background-color: black;
    opacity: 0.5;
}

.ac h2,
.ac p {
    background-color: rgba(0, 0, 0, 0.6);
    padding: 15px;
    border-radius: 10px;
    max-width: 1000px;
    margin: 0 auto;
    color: white;
    text-align: center;
    display: block;
}

